.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 16px;
  position: relative; 
  
  .logo {
    position: absolute;
    top: 16px; 
    left: 16px;
    width: 100px;
    height: auto;
    z-index: 1;
  }
}

.login-card {
  width: 100%;
  max-width: 600px; 
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #fff;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 100%;
}

/* Media Query for Large Screens */
@media (min-width: 1200px) {
  .login-card {
    width: 60%;
    max-width: none; 
  }
}

/* Media Query for Extra Large Screens */
@media (min-width: 1600px) {
  .login-card {
    width: 40%;
  }
}