<div class="company-employee-container">
  <div class="header">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>Create Employee</h2>
  </div>
  
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="employeeForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="employeeForm.get('email')?.hasError('email')">
        Invalid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="employeeForm.get('firstName')?.hasError('required')">
        First Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="employeeForm.get('lastName')?.hasError('required')">
        Last Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Employee Type</mat-label>
      <mat-select formControlName="employeeType">
        <mat-option *ngFor="let type of employeeTypes | keyvalue" [value]="type.key">
          {{ type.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('employeeType')?.hasError('required')">
        Employee Type is required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="employeeForm.invalid">
      Add Employee
    </button>
  </form>
</div>
