.company-employee-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Similar background color */
    margin-top: 100px;
  }
  
  h2 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    display: block;
    margin-top: 20px;
  }
  