.example-card {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.example-header-image {
  background-size: cover;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .photo-card-container {
    width: 100%;
    margin-bottom: 20px;
  }
}
